.direnv
__pycache__
docs/build
dist/Fifa-42.exe
build/Fifa-42/xref-Fifa-42.html
build/Fifa-42/warn-Fifa-42.txt
build/Fifa-42/Tree-01.toc
build/Fifa-42/Tree-00.toc
build/Fifa-42/PYZ-00.toc
build/Fifa-42/PYZ-00.pyz
build/Fifa-42/PKG-00.toc
build/Fifa-42/PKG-00.pkg
build/Fifa-42/Fifa-42.exe.manifest
.spec
create_exe.spec
Fifa-42.spec
name.spec
build/create_exe/base_library.zip
build/create_exe/create_exe.exe.manifest
build/Fifa-42/Analysis-00.toc
build/Fifa-42/base_library.zip
build/Fifa-42/EXE-00.toc
